In [1]:
from openpyxl import Workbook
from openpyxl import load_workbook
import pandas as pd

url0  = "http://tcg.uis.unesco.org/wp-content/uploads/sites/4/2021/05/SDG4_Benchmark_Tables_2021.xlsx"  # SDG 4 Benchmarks Indicators Data Book (excel)
url1 = "http://tcg.uis.unesco.org/wp-content/uploads/sites/4/2021/05/SDG4_Global_Tables_2021.xlsx"  # SDG 4 Global Data Book by target (excel)
url2 = "http://tcg.uis.unesco.org/wp-content/uploads/sites/4/2021/05/SDG4_Countries_Tables_2021.xlsx" #SDG 4 Country Data Table (excel)

url3 = "http://tcg.uis.unesco.org/wp-content/uploads/sites/4/2020/11/SDG4-Data-tree-specifications-Mapping.xlsx" # SDG 4 Data Tree Specifications - Mapping (excel)
url4 = "ftp://ftp.uis.unesco.org/BDDS/SDG.zip" # SDG 4 Dataset


## set path
path = r"C:\Users\yi_li\Documents\GitHub\UIS_SDG4Vizz"
cleandata  = path + r"\002_data\022_cleandata"
rawdata    = path + r"\002_data\021_rawdata"


## read the whole workbook
## original xlsx files have to be first saved as xls and the resave as xlsx (noted by debug2)
wb = load_workbook(rawdata+r"\SDG4_Benchmark_Tables_2021_debug2.xlsx",read_only=False)

In [2]:
## 0. SDG4_Benchmark_Tables_2021
# Example sheet look up 
 # example sheet
ws = wb["2"] # or whatever worksheet name
print(ws['E10'].value)

# extract all the comments in each cell in the worksheet and save in a list
df_aux = []
for index, row in enumerate(ws.rows):
    row_aux = []
    not_empty = False
    for cell in row:
        if cell.value != None:
            not_empty = True
        
        row_aux.append(cell.comment)
    if not_empty == True:
        df_aux.append(row_aux)

# transform the list of comments into DF
df_comment=pd.DataFrame(df_aux)
df_comment.head(20)

# reformat the DF of comments: dropping the null lines and add variable names
wsdf = pd.DataFrame(ws.values)
df_comment.columns = wsdf.iloc[0].values
df_comment.drop(list(range(0,10)), inplace=True)

2012

In [3]:
## 1. Iterate over all sheets in the workbook to create the Dictionary of comments (named by sheetnames) with variable names
sheetlist = dict()
for sheet,sheet_name in zip(wb.worksheets,wb.sheetnames):
    df_aux = []
    for index, row in enumerate(sheet.rows):
        row_aux = []
        not_empty = False
        for cell in row:
            if cell.value != None:
                not_empty = True
                
            row_aux.append(cell.comment)
        if not_empty ==True:
            df_aux.append(row_aux)
                
    df_comment=pd.DataFrame(df_aux)
    wsdf = pd.DataFrame(sheet.values)
    df_comment.columns = wsdf.iloc[9].values
    df_comment.drop(list(range(0,7)), inplace=True)
    sheetlist[sheet_name]=df_comment

In [4]:
sheetlist['2']

,Region,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,NaN,NaN
7,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,None,None,None,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,None,None,None,None
10,None,None,None,None,None,None,None,None,None,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,None,None,None,None
11,None,None,None,None,None,None,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
165,None,None,None,None,None,None,None,None,None,Comment: QUALIFIER: This data point is an ESTI...,Comment: QUALIFIER: This data point is an ESTI...,None,None,None,None
166,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
167,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
168,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [207]:
162*11

1782

In [5]:
vdf = []
count=0
for sheet_name, sheet_df in sheetlist.items():
    if sheet_name in ['TOC']:
        continue
    else:
        for rowno, rowval in sheet_df.iterrows():
            for year in range(2010, 2021):
                vlist = []
                vlist.append(rowval["Region"])
                vlist.append(rowval["Country"])
                vlist.append(year)
                vlist.append(rowval[str(year)])
                vlist.append(sheet_name)
                vdf.append(vlist)

In [6]:
vdf=pd.DataFrame(vdf)
vdf.columns=["Region", "Country", "Year", "Comments", "Sheet" ]

In [7]:
vdf.to_csv(cleandata + r'\SDG4_Benchmarks_Tables_2021_comments.csv')

In [19]:
vdf.Sheet.value_counts()['2']

1782

In [20]:
vdf.reset_index(drop=True, inplace=True)
vdf

      Region Country  Year Comments Sheet
0       None    None  2010     None     2
1       None    None  2011     None     2
2       None    None  2012     None     2
3       None    None  2013     None     2
4       None    None  2014     None     2
...      ...     ...   ...      ...   ...
29024   None    None  2016     None    21
29025   None    None  2017     None    21
29026   None    None  2018     None    21
29027   None    None  2019     None    21
29028   None    None  2020     None    21

[29029 rows x 5 columns]

In [9]:
datadf = pd.read_csv(cleandata+r'\SDG4_Benchmark_Tables_2021.csv',encoding='cp1252')

In [12]:
datadf = datadf[datadf['Region'].notna()]

In [21]:
datadf.Sheet.value_counts()[2]

1782

In [22]:
datadf.reset_index(drop=True, inplace=True)
datadf

,Unnamed: 0,Region,Country,Year,Value,Sheet,Target,SDG Indicator,SDG Indicator Name,Indicator Code
0,0,SDG: Africa (Northern),Tunisia,2010,24.84683,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF
1,1,SDG: Africa (Northern),Tunisia,2011,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF
2,2,SDG: Africa (Northern),Tunisia,2012,20.99101,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF
3,3,SDG: Africa (Northern),Tunisia,2013,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF
4,4,SDG: Africa (Northern),Tunisia,2014,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF
...,...,...,...,...,...,...,...,...,...,...
29024,113856,SDG: Oceania,Tuvalu,2016,34.61538,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3
29025,113857,SDG: Oceania,Tuvalu,2017,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3
29026,113858,SDG: Oceania,Tuvalu,2018,62,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3
29027,113859,SDG: Oceania,Tuvalu,2019,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3
29028,113860,SDG: Oceania,Tuvalu,2020,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3

In [23]:
result = pd.concat([datadf, vdf], axis=1).reindex(vdf.index)

In [24]:
result

,Unnamed: 0,Region,Country,Year,Value,Sheet,Target,SDG Indicator,SDG Indicator Name,Indicator Code,Region,Country,Year,Comments,Sheet
0,0,SDG: Africa (Northern),Tunisia,2010,24.84683,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF,None,None,2010,None,2
1,1,SDG: Africa (Northern),Tunisia,2011,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF,None,None,2011,None,2
2,2,SDG: Africa (Northern),Tunisia,2012,20.99101,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF,None,None,2012,None,2
3,3,SDG: Africa (Northern),Tunisia,2013,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF,None,None,2013,None,2
4,4,SDG: Africa (Northern),Tunisia,2014,..,2,1.a,1.a.2,Expenditure on education as a percentage of to...,XGOVEXP.IMF,None,None,2014,None,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29024,113856,SDG: Oceania,Tuvalu,2016,34.61538,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3,None,None,2016,None,21
29025,113857,SDG: Oceania,Tuvalu,2017,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3,None,None,2017,None,21
29026,113858,SDG: Oceania,Tuvalu,2018,62,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3,None,None,2018,None,21
29027,113859,SDG: Oceania,Tuvalu,2019,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3,None,None,2019,None,21
29028,113860,SDG: Oceania,Tuvalu,2020,..,21,4.c,4.c.1,Proportion of teachers with the minimum requir...,TRTP.3,None,None,2020,None,21

In [25]:
result = result.loc[:,~result.columns.duplicated()]

In [26]:
result.to_csv(cleandata+r'\final_SDG4_Benchmarks_Tables_2021.csv')